<div>
    <snap-drawer>
        <div class="snap-menu">
            <div class="sidebar-header text-center">
                <img src="images/cocinero.jpg" alt="" class="sidebar-img">
            </div>
            <ul class="snap-ul">
                <li ng-class="{active: $state.includes('inicio')}"><a ui-sref="overview">Inicio</a></li>
                <li ng-class="{active: $state.includes('ingredientes')}"><a ui-sref="ingredientes">Ingredientes</a></li>
                <li ng-class="{active: $state.includes('reports')}"><a ui-sref="reports">Recetas</a></li>
                <li><a ui-sref="login">Salir</a></li>
            </ul>
        </div>
    </snap-drawer>
    <snap-dragger></snap-dragger>
    <snap-content snap-opt-tap-to-close="false">
        <a href="" snap-toggle="left" ng-click="menuOpen = !menuOpen">
            <span class="menutoggle">
                <i ng-hide="menuOpen" class="fa fa-bars fa-2x" ></i>
                <i ng-show="menuOpen" class="fa fa-times fa-2x" ></i>
            </span>
        </a>

        <div class="fr">
        <h2>Ingredientes</h2>
        </div>
        <div class="jumbotron">
            <div class="container">
                <h1>Listado de ingredientes</h1>
            </div>
        </div>
        <div class="container" ng-controller="MainCtrl">   
            <button ng-click="addInput()">Añadir ingrediente</button>         
            <table>
                <thead>
                <tr>
                  <th>Ingrediente</th>
                  <th>Cantidad/kg</th>
                  <th>Precio/€</th>   
                  <th>Precio por Kilo</th>           
                </tr>
              </thead>
              <tbody>
                  <tr ng-repeat="ingrediente in ingredientes">
                    <td><input ng-model="ingrediente.nombre"></td>
                    <td><input ng-model="ingrediente.cantidad"></td>
                    <td><input ng-model="ingrediente.precio"></td>
                    <td><input disabled ng-value="ingrediente.cantidad/ingrediente.precio"></td>
                  </tr>
              </tbody>
            </table>
            <pre>{{ingredientes |json}}</pre>
        </div>
    </snap-content>
</div>
